body {
  background-color: transparent;
}
ul {
  list-style-type: square;
}

.img-box {
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}
