html, body{
    height: 100%;
/*    background-image: url(../img/bg_base.jpg);*/
      /* 画像を常に天地左右の中央に配置 */
    background-position: top center;
    background-repeat: 		no-repeat;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
	-moz-background-size:	cover;
	background-size:		cover;
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #81D674;
}
.background{
    width: 100%;
    height: 90%;
}
/* Logo表示画面 -----------------------*/
#Logo-bg{
    display: none;
	position: fixed;
	width: 110%;
	height: 110%;
	top: 0px;
	left: 0px;
	background-color: #6bb8d4;
	z-index: 10;
}
#Logo>img{
	position: fixed;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	width: 40%;
	height: 40%;
	z-index: 11;
	animation-name: show;
	animation-duration: 1s;
}
@keyframes show {
	0% {
		transform:translate(0,2em);
		opacity:0;
	}
	100% {
		transform:translate(0,0);
		opacity:1;
	}
}

/* Footer表示 -------------------------*/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0px;
    padding: 10px;
    border: none;
}

footer>#Chara{
    z-index: 13;
}

footer>#Point>img{
    float: left;
    margin-right: 10%;
    z-index: 12;
}
footer>#Point>#Flow2>img{
    float: left;
    margin-right: 2%;
    z-index: 12;
}
footer>#Point>#Flow2>img:last-child{
    margin-right: 10%;
}
footer>#Line{
    width: 90%;
    margin-top: 13px;
    margin-left: 10px;
    padding: 0px;
    font-size: 3px;
    background-color: deeppink;
    color: deeppink;
    z-index: 11;
}

/* pageDisplay表示 -------------------------*/
.pageDisplay{
    width: 100%;
    height: 90%;
    margin-top: 5%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
}

/*NEXT等の矢印-----------------*/
.next{
    width: 100px;
    margin-top: 300px;
    margin-left: auto;
    background-color: rgba(0, 255, 255, 0.5);
    z-index: 3;
}

