html, body{
    height: 100%;
    background: -webkit-linear-gradient(#6CBAD8, #CAE7F2);
    background: -o-linear-gradient(#6CBAD8, #CAE7F2);
    background: linear-gradient(#6CBAD8, #CAE7F2);
    overflow: hidden;
}
.background{
    width: 100%;
    height: 90%;
}

/* 背景の装飾画像とか------------------- */
#background_deco{
    
}
.mountain1{
    position: fixed; float: left; bottom: 0; width: 40%;
    left: 0;
    z-index: 3;
}
.mountain2{
    position: fixed; float: left; bottom: 0; width: 40%;
    right: 0;
    z-index: 2;
}
.mountain3{
    position: fixed; float: left; bottom: 0; width: 40%;
    left: 30%;    
    opacity: 0.7;
    z-index: 1;
}
#c1{
    position: fixed; float: left; bottom: 0;
    left: 0;
    width: 35%;
    z-index: 4;
}
#c2{
    position: fixed; float: left; bottom: 0;
    left: 25%;
    width: 20%;
    z-index: 4;
}
#c3{
    position: fixed; float: left; bottom: 0;
    left: 40%;
    width: 25%;
    z-index: 4;
}
#c4{
    position: fixed; float: left; bottom: 0;
    left: 60%;
    width: 30%;
    z-index: 4;
}
#c5{
    position: fixed; float: left; bottom: 0;
    left: 80%;
    width: 20%;
    z-index: 4;
}
#c2-1{
    position: fixed; float: left; bottom: 0;
    left: 0;
    width: 15%;
    opacity: 0.8;
    z-index: 3;
}
#c2-2{
    position: fixed; float: left; bottom: 0;
    left: 22%;
    width: 10%;
    opacity: 0.8;
    z-index: 3;
}
#c2-3{
    position: fixed; float: left; bottom: 0;
    left: 35%;
    width: 10%;
    opacity: 0.7;
    z-index: 3;
}
#c2-4{
    position: fixed; float: left; bottom: 0;
    left: 45%;
    width: 7%;
    opacity: 0.5;
    z-index: 3;
}
#c2-5{
    position: fixed; float: left; bottom: 0;
    left: 56%;
    width: 10%;
    opacity: 0.7;
    z-index: 3;
}
#c2-6{
    position: fixed; float: left; bottom: 0;
    left: 60%;
    width: 15%;
    opacity: 0.8;
    z-index: 3;
}
#c2-7{
    position: fixed; float: left; bottom: 0;
    left: 75%;
    width: 10%;
    opacity: 0.8;
    z-index: 3;
}
#c2-8{
    position: fixed; float: left; bottom: 0;
    left: 85%;
    width: 5%;
    opacity: 0.7;
    z-index: 3;
}
/* Logo表示画面 -----------------------*/
#Logo-bg{
    display: none;
	position: absolute;
	width: 110%;
	height: 110%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
	background-color: #DF81A2;
	z-index: 110;
}
#Logo>img{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    width: 128px;
    z-index: 111;
	animation-name: show;
	animation-duration: 1s;
}
@keyframes show {
	0% {
		transform:translate(0,2em);
		opacity:0;
	}
	100% {
		transform:translate(0,0);
		opacity:1;
	}
}

/* Footer表示 -------------------------*/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0px;
    padding: 10px;
    border: none;
    z-index: 10;
}

footer>#Chara{
    z-index: 13;
}

footer>#Point>img{
    float: left;
    margin-right: 10%;
    z-index: 12;
}
footer>#Point>#Flow2>img{
    float: left;
    margin-right: 2%;
    z-index: 12;
}
footer>#Point>#Flow2>img:last-child{
    margin-right: 10%;
}
footer>#Line{
    width: 90%;
    margin-top: 13px;
    margin-left: 10px;
    padding: 0px;
    font-size: 3px;
    background-color: deeppink;
    color: deeppink;
    z-index: 11;
}

/* pageDisplay表示 -------------------------*/
.pageDisplay{
    position: fixed;
    width: 100%;
    height: 90%;
    margin-top: 5%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0);
}

/*NEXT等の矢印-----------------*/
.next{
    position: fixed;
    width: 100px;
    top: 70%;
    right: 0;
    z-index: 100;
}

