body{
    background-image: url(../img/bg_base.jpg);
      /* 画像を常に天地左右の中央に配置 */
    background-position: top center;
    background-repeat: 		no-repeat;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
	-moz-background-size:	cover;
	background-size:		cover;
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #81D674;
}

/* Logo表示画面 ---------------------*/
#Logo-bg{
    display: none;
	position: fixed;
	width: 110%;
	height: 110%;
	top: 0px;
	left: 0px;
	background-color: #6bb8d4;
	z-index: 10;
}
#Logo>img{
	position: fixed;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	width: 40%;
	height: 40%;
	z-index: 11;
	animation-name: show;
	animation-duration: 1s;
}
@keyframes show {
	0% {
		transform:translate(0,2em);
		opacity:0;
	}
	100% {
		transform:translate(0,0);
		opacity:1;
	}
}

