/*-- page4 ----------------------*/
#page4{
  .con1 {
    float: left;
    width: 50%;
    height: 100%;
    margin-right: 100px;
  }

  .con2 {
    float: left;
    height: 100%;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }

  .mini {
    font-size: .7em;
  }
}
